<h1>Statistics</h1>

{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger">
        {% for msg in app.session.flashBag.get('error') %}
            {{ msg }}<br>
        {% endfor %}
    </div>
{% endif %}

<div class="row">
    <div class="col-12">
        <div class="panel-body table-responsive">
            <table class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Article Number</th>
                    <th>Clicks</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for statistic in statistics %}
                    <tr class="even pointer">
                        <td class="productArticle">{{ statistic.productArticle }}</td>
                        <td class="clicks">{{ statistic.clicks }}</td>
                        <td class="createdAt"><b>{{ statistic.createdAt | date("d/m/Y") }}</b></td>
                        <td><a class="btn btn-success btn-sm" href="{{ path('statistic_edit', { 'id':  statistic.id }) }}">EDIT</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
